In [10]:
import pandas as pd

In [11]:
# Comprobar si funciona pandas o no 

datos = {
    "Nombre": ["Ana", "Luis", "Pedro"],
    "Edad": [23, 30, 27]
}

df = pd.DataFrame(datos)

print(df)

  Nombre  Edad
0    Ana    23
1   Luis    30
2  Pedro    27

In [12]:
# crear una lista 
edad = [30,40,50]

In [15]:
# convertirla a serie
serie = pd.Series(edad)

In [14]:
# Mostrar resultado 
serie

0    30
1    40
2    50
dtype: int64

In [16]:
serie [1]

np.int64(40)

In [17]:
# cambiar series
serie = pd.Series(edad, index=["Alex", "John", "Maria"])

In [18]:
serie

Alex     30
John     40
Maria    50
dtype: int64

In [19]:
serie ["Alex"]

np.int64(30)

In [20]:
naranjas = pd.Series([1,4,9,2,6,10,200])
print(naranjas)

0      1
1      4
2      9
3      2
4      6
5     10
6    200
dtype: int64

In [21]:
type(naranjas)

pandas.core.series.Series

In [23]:
naranjas = pd.Series ([1,4,9,2,6,10,200], index = ["Marco", "Ana", "Juan", "Pedro", "Estela", "Ivan", "Luis"] )
print(naranjas)

Marco       1
Ana         4
Juan        9
Pedro       2
Estela      6
Ivan       10
Luis      200
dtype: int64